.carousel ul {
  height: 370px;
  margin: 5em auto 0.5em;
  max-width: 495px;
  position: relative;

  li {
    background: #000;
    height: 370px;
    margin: 0;
    max-width: 495px;
    position: absolute;
  }

  img {
    box-shadow: 0 0 2px #666;
  }

  figcaption {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.8em;
    opacity: 0;
    padding: 8px 12p;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
  }

  li:nth-child(1) {
    animation: xfade 48s 42s infinite;
  }

  li:nth-child(2) {
    animation: xfade 48s 36s infinite;
  }

  li:nth-child(3) {
    animation: xfade 48s 30s infinite;
  }

  li {
    opacity: 0;
  }
}

.carousel ul:hover li figcaption {
  opacity: 1;
  transition: opacity 0.5s;
}

@keyframes xfade {
  0% {
    opacity: 1;
  }

  10.5% {
    opacity: 1;
  }

  12.5% {
    opacity: 0;
  }

  98% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
