$background: rgba(0, 0, 0, 0.5);
$color: rgba(255, 255, 255, 1);
$margin: rgba(255, 255, 0, 0.5);
$border: $background;
$shadow: $background;
$radius: 10px;

.card {
  @include card-container($background, $color, $margin, $border, $radius, $shadow);
  @include card-divider;

  .card-image {

  }

  .background-card-image{

  }

  .image-hover {

  }

  .card-details {
    @include card-section;
    position: relative;

    .category {
      border-radius: 3%;
      font-weight: bold;
      left: 1rem;
      position: absolute;
      text-transform: uppercase;
      top: -2rem;
    }

  }
  .title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: capitalize;

  }

  .meta {

  }

  .excerpt {

  }

  .tail {

  }
}
