// https://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/

.carousel {
  height: 800px;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 100%;
  position: relative;

  ul {
    margin: 0;
    position: relative;

    .slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 2px #666;
      display: block;
      height: 800px;
      margin: 1em auto;
      opacity: 0;
      position: absolute;
      width: 100%;

      &:nth-child(1) {
        animation: xfade 18s 12s infinite;
      }

      &:nth-child(2) {
        animation: xfade 18s 6s infinite;
      }

      &:nth-child(3) {
        animation: xfade 18s 0s infinite;
      }

    }

    .slide1 {
      background-image: url('https://www.dummyimage.co.uk/2400x800/000000/ffffff/Slide 1');
    }

    .slide2 {
      background-image: url('https://www.dummyimage.co.uk/2400x800/000000/ffffff/Slide 2');
    }

    .slide3 {
      background-image: url('https://www.dummyimage.co.uk/2400x800/000000/ffffff/Slide 3');
    }

    div {
      background: rgba(255, 255, 100, 0.3);
      border-radius: 5px;
      color: #fff;
      font-size: 0.8em;
      left: 25%;
      padding: 8px 12px;
      position: absolute;
      text-align: left;
      top: 20%;
      transform: translate(-50%, -50%);
      transition: opacity 0.5s;
      width: 45%;
    }

    figure {
      background: rgba(255, 255, 100, 0.3);
      bottom: 0;
      color: #fff;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}


@keyframes xfade {
  0% {
    opacity: 1;
  }

  10.5% {
    opacity: 1;
  }

  33.0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



// .carousel {
//   height: 370px;
//   margin: 5em auto 0.5em;
//   max-width: 1200px;
//   position: relative;

//   li {
//     background: #000;
//     height: 370px;
//     margin: 0;
//     max-width: 495px;
//     position: absolute;
//   }

//   img {
//     box-shadow: 0 0 2px #666;
//   }

//   figcaption {
//     background: rgba(0, 0, 0, 0.3);
//     color: #fff;
//     font-size: 0.8em;
//     opacity: 0;
//     padding: 8px 12p;
//     position: absolute;
//     top: 0;
//     transition: opacity 0.5s;
//   }

//   &:hover figure figcaption {
//     opacity: 1;
//     transition: opacity 0.5s;
//   }

//   li:nth-child(1) {
//     animation: xfade 48s 42s infinite;
//   }

//   li:nth-child(2) {
//     animation: xfade 48s 36s infinite;
//   }

//   li:nth-child(3) {
//     animation: xfade 48s 30s infinite;
//   }

//   figure {
//     opacity: 0;
//   }
// }

