<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Johan N. Martin</title>
    <link rel="stylesheet" href="{{root}}assets/app.css">
  </head>
  <body>
      {{>body}}
    <script src="{{root}}assets/vendor.js"></script>
    <script src="{{root}}assets/app.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=initCaptcha&render=explicit' async defer></script>
  </body>
</html>
