<section class="marketing-site-three-up">
    <h2 class="marketing-site-three-up-headline">Lorem ipsum</h2>
    <div class="grid-x medium-unstack">
      <div class="auto cell">
        <i class="fa fa-gg" aria-hidden="true"></i>
        <h4 class="marketing-site-three-up-title">Lorem ipsum</h4>
        <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
      </div>
      <div class="auto cell">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <h4 class="marketing-site-three-up-title">lorem ipsum</h4>
        <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
      </div>
      <div class="auto cell">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <h4 class="marketing-site-three-up-title">Ipsum lorem</h4>
        <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
      </div>
    </div>
  </section>
