<div class="card card-product">
    <div class="card-product-img-wrapper">
      <a class="button expanded">Add to Cart</a>
      <a href="#"><img src="http://via.placeholder.com/400x200"></a>
    </div>
    <div class="card-section">
      <a href="#"><h3 class="card-product-name">Kickin with Kraken Tee</h3></a>
      <h5 class="card-product-price">$19.99</h5>
      <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
    </div>
  </div>
