<fieldset class="fieldset">
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <label for="">
        Company
        <input type="text" id="company" name="company" placeholder="Company/shop name" aria-dsecribedby="company">
        <p class="help-text" id="company-help">Name of business</p>
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label for="first-name">First Name
        <input type="text" placeholder="First Name" value="First" name="first-name" id="first-name" aria-describedby="first-name"
          required="required">
      </label>
      <p class="help-text" id="first-name">My first name</p>
    </div>
    <div class="medium-6 cell">
      <label for="last-name">Last Name
        <input type="text" placeholder="Last Name" value="Last" name="last-name" id="last-name" aria-describedby="last-name" required="required">
      </label>
      <p class="help-text" id="last-name">My last name</p>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label for="location">
        Location/Zip Code
        <input type="text" id="location" name="location" value="10001" placeholder="zip code" required="required" aria-describedby="zip code">
      </label>
      <p class="help-text" id="location">Enter your zip code</p>
    </div>
    <div class="medium-6 cell">
      <label for="">City/State
        <input type="text" readonly="readonly" placeholder="City, State Zip" value="New York, NY 10001">
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label for="tel">Telephone
        <input type="text" name="telephone" id="telephone" value="(646) 661-1234" placeholder="(646) 783-9811" aria-describedby="telephone"
          required>
      </label>
      <p class="help-text" id="telephone">Telephone Number</p>
    </div>
    <div class="medium-6 cell">
      <label for="email">
        Email
        <input type="email" id="email" value="nam@yahoo.com" placeholder="name@email.com" aria-describedby="email" required="required">
      </label>
      <p class="help-text" id="email">Enter your email address</p>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <label for="about-us">
        About Us
        <textarea name="summary" id="summary" cols="20" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur et facere ab. Quod officia dolores facere,
            iste qui sunt distinctio nobis blanditiis nesciunt animi ducimus sapiente architecto, earum incidunt Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Voluptates quas fugiat aliquid sunt nemo accusantium quam
            sint, totam, ad ducimus asperiores sed. Pariatur, sunt! Laudantium sit natus perferendis reprehenderit a.</textarea>
      </label>
      <p class="help-text" id="summary">Tell us about your shop.</p>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <div class="button-group">
        <a class="button rounded bordered shadow success" href="overview.html" role="tab">Submit</a>
      </div>
    </div>
  </div>
</fieldset>
