<section class="experience timeline cell auto">
  <h1>Experience</h1>
    {{#each cv.experience}}
    <div class="work">
      <div class="position">
          <header>
              <div class="position-logo">
                  <img src={{logo}} alt={{title}}/>
              </div>
              <div class="position-header">
                <h2>{{company}}</h2>
                <span>{{title}}</span>
              </div>
            </header>

        <div class="content">
            <p>{{description}}</p>
          <ul>
            {{#each this.list}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/each}}
</section>
