<section class="cn-c-experience">
    <h1>Work History</h1>
    <div class="cn-c-timeline">
    <div class="cn-c-timeline-container cn-c-timeline--left">
        <div class="cn-c-timeline-container--content">
          <h2>2017</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda accusantium non itaque inventore. Accusamus nihil omnis quos numquam fuga modi! Enim iure iste voluptates voluptatem ducimus laudantium officia blanditiis voluptate.</p>
        </div>
      </div>
      <div class="cn-c-timeline-container cn-c-timeline--right">
        <div class="cn-c-timeline-container--content">
          <h2>2018</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sapiente repellat non dolor sit quibusdam mollitia, et temporibus doloremque praesentium cumque reiciendis, optio ex a consectetur est tenetur quas ipsa!</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="cn-c-experience-demo">
    <div id=timeline>
      <h1>A Flexbox Timeline</h1>
      <p class="leader">All cards must be the same height and width for space calculations on large screens.</p>
      <div class="demo-card-wrapper">
        <div class="demo-card demo-card--step1">
          <div class="head">
            <div class="number-box">
              <span>01</span>
            </div>
            <h2><span class="small">Subtitle</span> Technology</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="http://placehold.it/1000x500" alt="Graphic">
          </div>
        </div>

        <div class="demo-card demo-card--step2">
          <div class="head">
            <div class="number-box">
              <span>02</span>
            </div>
            <h2><span class="small">Subtitle</span> Confidence</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="http://placehold.it/1000x500" alt="Graphic">
          </div>
        </div>

        <div class="demo-card demo-card--step3">
          <div class="head">
            <div class="number-box">
              <span>03</span>
            </div>
            <h2><span class="small">Subtitle</span> Adaptation</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="http://placehold.it/1000x500" alt="Graphic">
          </div>
        </div>

        <div class="demo-card demo-card--step4">
          <div class="head">
            <div class="number-box">
              <span>04</span>
            </div>
            <h2><span class="small">Subtitle</span> Consistency</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="http://placehold.it/1000x500" alt="Graphic">
          </div>
        </div>

        <div class="demo-card demo-card--step5">
          <div class="head">
            <div class="number-box">
              <span>05</span>
            </div>
            <h2><span class="small">Subtitle</span> Conversion</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="http://placehold.it/1000x500" alt="Graphic">
          </div>
        </div>

      </div>
    </div>
    </section>
