<section class="product-feature-section">
    <div class="product-feature-section-outer">
      <h4 class="product-feature-section-headline">Lorem ipsum dolor sit amet consectetur adipisicing elit.<div> olor sit ame</h4>

      <div class="product-feature-section-inner">

        <div class="product-feature-section-feature top-left">
          <i class="fa fa-shield" aria-hidden="true"></i>
          <div>
            <p class="feature-title">amet consectetur</p>
            <p class="feature-desc">Lorem ipsum dolor sit?</p>
          </div>
        </div>

        <div class="product-feature-section-feature top-right">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <div>
            <p class="feature-title">ratione optio officia</p>
            <p class="feature-desc">Placeat neque minus,</p>
          </div>
        </div>

        <div class="product-feature-section-feature bottom-left">
          <i class="fa fa-coffee" aria-hidden="true"></i>
          <div>
            <p class="feature-title">Ceprehenderit sequi</p>
            <p class="feature-desc">quibusdam, adipisci fuga</p>
          </div>
        </div>

        <div class="product-feature-section-feature bottom-right">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <div>
            <p class="feature-title"> odio nisi reprehenderit</p>
            <p class="feature-desc"> magni eveniet quam, laudantium</p>
          </div>
        </div>

      </div>
    </div>
  </section>
