<footer id="contact" class="grid-container full site-footer">
  <div class="contact-details grid-container">

    <div>
      <img src="{{cv.profile-image}}" alt="{{cv.name}}">
    </div>

    <div class="social-list">
        <span class="social-icon">
          <a href="mailto:info@johan-martin.com"><i class="fa fa-envelope"></i>info@johan-martin.com</a>
        </span>
        <span class="social-icon">
          <a href="tel:+16467839811"><i class="fa fa-phone"></i>US: +1 (646) 783-9811</a>
        </span>
        <span class="social-icon">
          <a href="tel:+27834438234"><i class="fa fa-phone"></i>SA: +27 (83) 443-8234</a>
        </span>

        {{#each cv.interests}}
        <span class="social-icon">
          <a href="{{link}}"><i class="fa {{this.icon}}"></i>{{title}}</a>
        </span>
        {{/each}}
    </div>

    <div>
      <h2>Contact Me</h2>
      <div id="contact-me"></div>
    </div>

  </div>

  <ul class="menu align-center bottom-menu">
    <li class="menu-text">Copyright &copy;
      <script type="text/javascript">
        var d = new Date()
        document.write(d.getFullYear())
      </script>
    </li>
    <li><a href="#">Johan N. Martin</a></li>
  </ul>

</footer>
