<div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
      <h1>Registration Form</h1>
      <div class="registration-form"></div>
      <div class="medium-9 cell">
        <form>
          <div class="grid-container">
            <fieldset class="fieldset">
              <legend>Personal Details</legend>
              <div class="grid-x grid-padding-x">
                <div class="auto cell">
                  <div class="input-group">
                    <span class="input-group-label">Last Name</span>
                    <input class="input-group-field" type="text" aria-describedby="child-surname" placeholder="Last Name" disabled required>
                  </div>
                  <p class="help-text" id="child-surname">Last Name</p>
                </div>
                <div class="auto cell">
                  <div class="input-group">
                    <span class="input-group-label">First Name</span>
                    <input class="input-group-field" type="text" aria-describedby="child-firstname" placeholder="First Name" disabled required>
                  </div>
                  <p class="help-text" id="child-surname">Your first name</p>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="auto cell">
                  <div class="input-group">
                    <span class="input-group-label">Email</span>
                    <input class="input-group-field" type="email" aria-describedby="email" placehoder="name@email.com" required disabled>
                  </div>
                  <p class="help-text" id="email">Your email address</p>
                </div>
                <div class="auto cell">
                  <span class="input-group-label">Type</span>
                  <input id="type-candidate" name="type" type="radio">
                  <label for="candidate">Candidate</label>
                  <input id="type-candidate" name="type" type="radio">
                  <label for="employer">Employer</label>
                  <p class="help-text" id="email">Your employment type</p>
                </div>
              </div>
            </fieldset>
            {{!--
            <fieldset class="fieldset">
              <legend>Experience</legend>
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Surname</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">First Name</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">ID Number</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Relation to Child(ren)</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
            <fieldset class="fieldset">
              <legend>Contact Information</legend>
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Phone</span>
                    <input class="input-group-field" type="tel">
                  </div>
                </div>
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Cell</span>
                    <input class="input-group-field" type="tel">
                  </div>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                  <div class="input-group">
                    <span class="input-group-label">Email</span>
                    <input class="input-group-field" type="email">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="fieldset">
              <legend>Address Info</legend>
              <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                  <div class="input-group">
                    <span class="input-group-label">Street Address</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Complex</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Unit Number</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Suburb</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">City</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Postal Code</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="medium-6 cell">
                  <div class="input-group">
                    <span class="input-group-label">Province</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="fieldset">
              <legend>Employer Information</legend>
              <div class="grid-x grid-padding-x">
                <div class="medium-8 cell">
                  <div class="input-group">
                    <span class="input-group-label">Employer</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="medium-4 cell">
                  <div class="input-group">
                    <span class="input-group-label">Phone</span>
                    <input class="input-group-field" type="tel">
                  </div>
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="medium-8 cell">
                  <div class="input-group">
                    <span class="input-group-label">Occupation</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
              </div>
            </fieldset>
            </fieldset>
            <fieldset class="fieldset">
              <legend>Authorized Persons</legend>
              <div class="grid-x grid-padding-x">
                <div class="medium-4 cell">
                  <div class="input-group">
                    <span class="input-group-label">Name</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="auto cell">
                  <div class="input-group">
                    <span class="input-group-label">Relation</span>
                    <input class="input-group-field" type="text">
                  </div>
                </div>
                <div class="auto cell">
                  <div class="input-group">
                    <span class="input-group-label">Phone</span>
                    <input class="input-group-field" type="tel">
                  </div>
                </div>
              </div>
            </fieldset>
            --}}
          </div>

        </form>
      </div>
      <!-- end column one -->
      <div class="auto cell">
        <h2>Output</h2>
      </div>
    </div>
  </div>
