<header class="grid-container full jnm-header">
  <div class="top-title-bar grid-container full">
      <a href="mailto:info@johan-martin.com">
        <i class="fa fa-envelope"></i>info@johan-martin.com
      </a>
      <a href="https://github.com/catenare" target="_blank">
        <i class="fa fa-github"></i>GitHub
      </a>
      <a href="https://www.linkedin.com/in/jnmartin" target="_blank">
        <i class="fa fa-linkedin-square"></i>LinkedIn
      </a>
      <a class="other-sites" href="" target="_blank">Agency</a>
  </div>

  <nav class="main-menu grid-container">

    <div class="top-menu">
      <h1>Johan N Martin</h1>
      <button><i class="fa fa-bars"></i></button>
    </div>

    <div class="menu-list">
      <a href="#news">News</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>

  </nav>

</header>
