<header>
  <nav>
    <div class="top-bar">
      <ul class="menu top-bar-left">
        <li class="menu-text">Johan N. Martin</li>
        <li>
          <a href="{{root}}/index.html">Home</a>
        </li>
        <li>
          <a href="{{root}}/article.html">Notebook</a>
        </li>
        <li>
          <a href="{{root}}/lab.html">Lab</a>
        </li>
      </ul>
      <ul class="menu top-bar-right">
        <li>
          <a href="#">Phone</a>
        </li>
        <li>
          <a href="#">Email</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
