<header class="grid-container full jnm-header">
    <ul class="menu title-bar">
      <li>
        <a href="mailto:info@johan-martin.com">
          <i class="fa fa-envelope"></i>info@johan-martin.com
        </a>
      </li>
      <li>
        <a href="https://github.com/catenare" target="_blank">
          <i class="fa fa-github"></i>GitHub
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jnmartin" target="_blank">
          <i class="fa fa-linkedin-square"></i>LinkedIn
        </a>
      </li>
    </ul>

  <nav class="menu">
    <span class="menu-text"><i class="fa fa-bars"></i>Johan N. Martin</span>
    <div class="menu vertical medium-horizontal">
      <a href="#news">News</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
  </nav>

</header>
