<div class="cn-c-hero--content">
  <div class="grid-x grid-margin-x">
    <div class="large-7 cell">
        <h1>Web <span>Application Developer</span></h1>
    </div>
    <div class="large-5 cell">
        <blockquote>Having knowledge but lacking the power to express it clearly is no better than
            never having any ideas at all
            <cite> Pericles</cite>
          </blockquote>
          <ul class="menu align-center">
              <li>
                <a href="#" title="GitHub"><i class="fa fa-github-square"><span>GitHub</span></i></a>
              </li>
              <li>
                <a href="#" title="LinkedIn"><i class="fa fa-linkedin-square"><span>LinkedIn</span></i></a>
              </li>
            </ul>
        </div>

    </div>
  </div>


