{{#each cv.highlights}}
<div class="grid-x margin-x">
  {{#ifequal @index 1}}
  <div class="large-3 cell cn-c-highlights-image cn-c-highlights-image--left">
    <img src="{{image}}" alt="{{title}}"/>
  </div>
  {{/ifequal}}
  <div class="large-9 cell cn-c-highlights-content">
    <a href="{{link}}" target="_blank">
      <h1>{{title}}</h1>
    </a>
    {{{description}}}
    {{#if gallery}}
    <ul class="gallery">
      {{#each gallery}}
      <li class="gallery-item">
        <figure class="gallery-img">
          <img src="https://res.cloudinary.com/paseo/image/upload/v1514746880/johan-martin/sierrafoothills/{{this}}"
               alt="image"/>
          <img class="img-hover" src="https://res.cloudinary.com/paseo/image/upload/v1514746880/johan-martin/sierrafoothills/{{this}}"
               alt="image"/>
        </figure>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>

  {{#ifequal @index 0}}
  <div class="large-3 cell cn-c-highlights-image cn-c-highlights-image--right">
    <img src="{{image}}" alt="{{title}}"/>
  </div>
  {{/ifequal}}

</div>
{{/each}}
