<div class="grid-x grid-padding-x" style="border-bottom: 1px solid; margin-bottom: 1rem;">
  <div class="medium-4 cell listing-image">
    <img src="{{picture.medium}}" alt="alternate_1">
    <div class="medium-12 cell">
    <a href="#" class="button rounded secondary">Select</a>
  </div>
    <ul class=" medium-12 cell no-bullets">
      <li>{{location.city}}</li>
      <li>{{location.state}}, {{location.postcode}}</li>
    </ul>
  </div>
  <div class="medium-8 cell">
    <h3>{{name.title}} {{name.first}} {{name.last}}</h3>
    <h4>Professional Description</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, cum quae excepturi labore iure voluptatem aperiam
      tempora nobis impedit, nemo maiores minima adipisci voluptatibus, tenetur laudantium vel sapiente debitis consequuntur.</p>
    <h4>Education/Certification</h4>
    <div class="grid-x grid-padding-x">
      <ul class="auto cell">
        <li>info 1</li>
        <li>info 2</li>
        <li>info 3</li>
      </ul>
      <ul class="auto cell">
        <li>info 1</li>
        <li>info 2</li>
        <li>info 3</li>
      </ul>
    </div>
    <h4>Skills</h4>
    <ul class="grid-x grid-padding-x">
      <li class="auto cell">skill_1</li>
      <li class="auto cell">skill_2</li>
      <li class="auto cell">skill_3</li>
      <li class="auto cell">skill_4</li>
      <li class="auto cell">skill_5</li>
      <li class="auto cell">skill_6</li>
      <li class="auto cell">skill_7</li>
      <li class="auto cell">skill_8</li>
    </ul>
  </div>
</div>
