<div class="register">
  <div class="social-media">
    <h1>Sign In</h1>
    <a href="{{root}}overview.html" class="social-button-facebook">Facebook</a>
    <a href="{{root}}overview.html" class="social-button-google">Google</a>
    <a href="{{root}}overview.html" class="social-button-linkedin">LinkedIn</a>
  </div>
  <h2 class="or">Or</h2>
  <form action="#">
      <div class="grid-x grid-padding-x">
        <div class="medium-offset-3 medium-6 cell">
          <label for="Email">Email<input type="email" name="email" id="email" aria-describedby="email-help-text" placeholder="Email" required="required"></label>
          <p class="help-text" id="email-help-text">Enter your email address</p>
        </div>
        <div class="medium-offset-3 medium-6 cell">
          <label for="password">Password<input type="password" name="password" id="password" aria-describedby="password-help-text" required="required"></label>
          <p class="help-text" id="password-help-text">Enter a password</p>
        </div>
      </div>
      <div class="medium-12 cell"><a href="{{root}}overview.html" class="button">Sign Up</a></div>
  </form>
</div>
