<div class="login-box">
  <div class="grid-x collapse expanded">
    <div class="small-12 medium-6 cell small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <h1 class="login-box-title">Sign up</h1>
        <input class="login-box-input" type="text" name="username" placeholder="Username" />
        <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
        <input class="login-box-input" type="password" name="password" placeholder="Password" />
        <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
        <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
      </div>
      <div class="or">OR</div>
    </div>
    <div class="small-12 medium-6 cell small-order-1 medium-order-2 login-box-social-section">
      <div class="login-box-social-section-inner">
        <span class="login-box-social-headline">Sign in with
          <br />your social network</span>
        <a class="login-box-social-button-facebook">Log in with facebook</a>
        <a class="login-box-social-button-twitter">Log in with Twitter</a>
        <a class="login-box-social-button-google">Log in with Google+</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="register">
  <div class="social-media">
    <h1>Sign up</h1>
    <a href="#" class="social-button-facebook">Facebook</a>
    <a href="#" class="social-button-google">Google</a>
    <a href="#" class="social-button-linkedin">LinkedIn</a>
  </div>
  <h2 class="or">Or</h2>
  <div class="form">
    <fieldset>
      <div class="input-group">
        <label for="first" class="input-group-label">First<input type="text" class="input-group-field" id="first" placeholder="First"></label>
        <p class="help-text" id="firstHelpText">First Name</p>
      </div>
      <div class="input-group">
        <label for="first" class="input-group-label">First<input type="text" class="input-group-field" id="first" placeholder="First"></label>
        <p class="help-text" id="firstHelpText">First </p>
      </div>
    </fieldset>
      <div class="input-group">
          <span class="input-group-label">$</span>
          <input class="input-group-field" type="number">
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
  </div>
</div>
