<li {{#ifpage 'index'}}class="is-active"{{/ifpage}}><a href="{{root}}index.html">Home</a></li>
<li {{#ifpage 'request'}}class="is-active"{{/ifpage}}><a href="{{root}}request.html">Request</a></li>
{{!-- <li {{#ifpage 'about'}}class="is-active"{{/ifpage}}><a href="{{root}}about.html">About</a></li>
<li {{#ifpage 'registration'}}class="is-active"{{/ifpage}}><a href="{{root}}registration.html">Registration</a></li>
--}}
<li {{#ifpage 'listing'}}class="is-active"{{/ifpage}}><a href="{{root}}listing.html">Listing</a></li>
