<div class="grid-x grid-padding-x">
  <fieldset class="medium-6 cell">
    <div class="medium-12 cell">
      <legend>Social Media</legend>
      <label for="">
        Facebook<input type="text">
      </label>
      <label for="">
        LinkedIn<input type="text">
      </label>
      <label for="">
        Twitter<input type="text">
      </label>
      <label for="">
        InstaGram<input type="text">
      </label>

    </div>
  </fieldset>
  <fieldset class="medium-6 cell">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
    <label for="profile-image">Upload a profile image
      <input type="file" name="image" id="image">
    </label>
    <p class="help-text" id="travel-distance-help">Image type: jpg. Maximum size: 2mb</p>
  </div>
  </div>
  <div class="media-object">
      <div class="media-object-section">
        <img src= "https://placeimg.com/200/200/people">
      </div>
      <div class="media-object-section">
        <h4>Lorem, ipsum dolor</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus similique, vero quaerat officiis illo magnam dicta quis aut quia vel dolore itaque a, velit modi delectus ipsam sapiente nam? Enim!</p>
      </div>
    </div>
  </fieldset>
</div>
<div class="grid-x grid-padding-x">
    <div class="medium-3 medium-offset-9 cell align-bottom" style="padding-top: 1em;">
        <a class="button rounded shadow success" href="#" role="tab">Submit</a>
    </div>
  </div>
