<div class="grid-x grid-padding-x">
  <fieldset class="medium-6 cell">
    <div class="medium-12 cell">
      <legend>Social Media</legend>
      <label for="">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
        <input type="text" value="https://www.facebook.com/martin" placeholder="https://www.facebook.com/{}">
      </label>
      <label for="">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        LinkedIn
        <input type="text" placeholder="https://www.linkedin.com">
      </label>
      <label for="">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Twitter
        <input type="text" placeholder="https://www.twitter.com">
      </label>
      <label for="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        InstaGram
        <input type="text" placeholder="https://www.instagram.com">
      </label>
    </div>
  </fieldset>
  <fieldset class="medium-6 cell">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label for="profile-image">Upload a profile image
          <input type="file" name="image" id="image">
        </label>
        <p class="help-text" id="travel-distance-help">Image type: jpg. Maximum size: 2mb</p>
        <div class="media-object">
          <div class="media-object-section">
            <img src="https://placeimg.com/200/200/people">
          </div>
        </div>
      </div>
      <div class="medium-6 cell">
          <label for="profile-image">Upload a resume
              <input type="file" name="resume" id="resume">
            </label>
            <p class="help-text" id="travel-distance-help">File type: pdf. Maximum size: 2mb</p>
      </div>
    </div>
  </fieldset>
</div>
<div class="grid-x grid-padding-x">
  <div class="medium-6 medium-offset-6 cell">
      <input type="checkbox" id="accept-agreement" checked>
      <label for="accept-agreement">Accept <a href="terms.html">Terms and Conditions</a></label>
  </div>
  <div class="medium-6 medium-offset-6 cell">
      <input type="checkbox" id="accept-marketing" checked>
      <label for="accept-marketing">Keep me updated with news and information. Our <a href="privacy.html">Privacy</a> policy.</label>
  </div>

  <div class="medium-6 medium-offset-6 cell align-bottom" style="padding-top: 1em;">
    <a class="button rounded shadow success" href="overview.html" role="tab">Submit</a>
  </div>
</div>
