<fieldset class="fieldset">
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label for="first-name">First Name
        <input type="text" placeholder="First Name" value="First" name="first-name" id="first-name" aria-describedby="first-name"
          required="required" disabled="disabled">
      </label>
      <p class="help-text" id="first-name">My first name</p>
    </div>
    <div class="medium-6 cell">
      <label for="last-name">Last Name
        <input type="text" placeholder="Last Name" value="Last" name="last-name" id="last-name" aria-describedby="last-name" required="required"
          disabled="disabled">
      </label>
      <p class="help-text" id="last-name">My last name</p>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label for="telephone">Telephone
        <input type="text" name="telephone" id="telephone" value="(646) 661-1234" placeholder="(646) 783-9811" aria-describedby="telephone">
      </label>
      <p class="help-text" id="telephone">Telephone Number</p>
    </div>
    <div class="medium-6 cell">
      <label for="email">
        Email
        <input type="email" id="email" value="nam@yahoo.com" placeholder="name@email.com" aria-describedby="email"
          required="required" disabled="disabled">
      </label>
      <p class="help-text" id="email">Enter your email address</p>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label for="location">
        Location/Zip Code
        <input type="text" id="location" name="location" value="66104" placeholder="zip code" required="required"
          aria-describedby="zip code">
      </label>
      <p class="help-text" id="location">Enter your zip code</p>
    </div>
    <div class="medium-6 cell text-center">
      <img src="http://via.placeholder.com/400x400" alt="map" width="300px">
    </div>
  </div>
  <div class="grid-x grid-padding-x">
      <fieldset class="medium-6 cell">
          <legend>Position(s)</legend>
            {{#each registration.profession}}
            <input type="checkbox" name="position">
            <label for="{{this}}">{{this}}</label>
          {{/each}}
      </fieldset>
      <fieldset class="medium-6 cell">
          <legend>Position Type</legend>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Part-Time</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Full-Time</label>
          <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Casual</label>
      </fieldset>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <label for="summary">
        Summary/Description
        <textarea name="summary" id="summary" cols="100" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur et facere ab. Quod officia dolores facere,
          iste qui sunt distinctio nobis blanditiis nesciunt animi ducimus sapiente architecto, earum incidunt Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Voluptates quas fugiat aliquid sunt nemo accusantium quam
          sint, totam, ad ducimus asperiores sed. Pariatur, sunt! Laudantium sit natus perferendis reprehenderit a.</textarea>
      </label>
      <p class="help-text" id="summary">Summary or description</p>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <div class="button-group">
        <a class="button rounded bordered shadow secondary" href="#panel2" role="tab">Next</a>
      </div>
    </div>
  </div>
</fieldset>
