<div class="grid-x grid-padding-x">
    <div class="medium-4 cell">
      <label for="certfication">Certification/Degree
        <input type="text" placeholder="Certification/degree">
      </label>
    </div>
    <div class="medium-4 cell">
      <label for="">
        Institution<input type="text" placeholder="Institution">
      </label>
    </div>
    <div class="medium-3 cell">
        <label for="">
          Year(s)<input type="text" placeholder="Year">
        </label>
      </div>
      <div class="medium-1 cell padding-top-2">
          <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
      <div class="grid-x grid-padding-x">
          <div class="medium-12 cell">
            <div class="button-group">
              <a class="button rounded bordered shadow secondary next" href="#panel3" role="tab">Next</a>
            </div>
          </div>
        </div>
</div>
