<fieldset class="fieldset">
  <legend>Days available</legend>
  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Sunday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="sun-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="sun-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="sun-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="sun-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Monday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="mon-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="mon-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="mon-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="mon-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Tueday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="tue-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="tue-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="tue-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="tue-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Wednesday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="wed-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="wed-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="wed-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="wed-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Thursday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="thu-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="thu-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="thu-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="thu-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Friday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="fri-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="fri-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="fri-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="fri-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <input type="checkbox" id="sun">
      <label for="sun">Saturday</label>
    </div>
    <div class="medium-9 cell">
      <input type="radio" name="sat-time" id="sun-morning">
      <label for="">Morning</label>
      <input type="radio" name="sat-time" id="sun-afternoon">
      <label for="">Afternoon</label>
      <input type="radio" name="sat-time" id="sun-evening">
      <label for="">Evening</label>
      <input type="radio" name="sat-time" id="sun-full">
      <label for="">All Day</label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <div class="button-group">
        <a class="button rounded bordered shadow secondary next" href="#panel3" role="tab">Next</a>
      </div>
    </div>
  </div>
</fieldset>
