<section class="product-feature-section">
    <div class="product-feature-section-outer">
      <h1 class="product-feature-section-headline">Skills</h1>
      <div class="product-feature-section-inner">

        {{#each cv.skills}}
        <div class="product-feature-section-feature top-left">
            <i class="fa {{icon}}" aria-hidden="true"></i>
          <div>
            <h2 class="feature-title">{{this.title}}</h2>
            <!-- <p class="feature-desc">Can withstand extreme cold</p> -->
            <ul>
              {{#each this.items}}
                {{#if this.title}}
              <li>
                <dl>
                  <dt>{{this.title}}</dt>
                  {{#each this.items}}
                  <dd>{{this}}</dd>
                  {{/each}}
                </dl>
              </li>
                {{else}}
                <li>{{this}}</li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
