<section class="product-feature-section">
    <div class="product-feature-section-outer">
      <h1 class="product-feature-section-headline">Skills</h1>
      <div class="product-feature-section-inner">

        {{#each cv.skills}}
        <div class="product-feature-section-feature top-left">
            <i class="fa {{icon}}" aria-hidden="true"></i>
          <div>
            <h2 class="feature-title">{{this.title}}</h2>
            <!-- <p class="feature-desc">Can withstand extreme cold</p> -->
            <ul>
              {{#each this.items}}
                {{#if this.title}}
              <li>
                <dl>
                  <dd>{{this.title}}</dd>
                  {{#each this.items}}
                  <dt>{{this}}</dt>
                  {{/each}}
                </dl>
              </li>
                {{else}}
                <li>{{this}}</li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
        {{/each}}

{{!--
        <div class="product-feature-section-feature top-right">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          <div>
            <h2 class="feature-title">Development Tools</h2>
            <p class="feature-desc">Great at code and hugs</p>
          </div>
        </div>

        <div class="product-feature-section-feature bottom-left">
            <i class="fa fa-database" aria-hidden="true"></i>
          <div>
            <h2 class="feature-title">Database Engines</h2>
            <p class="feature-desc">Makes any hole a home</p>
          </div>
        </div>

        <div class="product-feature-section-feature bottom-right">
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <div>
            <h2 class="feature-title">Cloud Computing</h2>
            <p class="feature-desc">Hails from the Himalayans</p>
          </div>
        </div>
--}}
      </div>
    </div>
  </section>
