<section class="cn-c-summary">
  <h1>Summary</h1>
<ul>
  <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga in voluptates quo dicta eveniet incidunt reprehenderit dolor, consequuntur, minus tempora doloribus. Dicta eius quo asperiores dolor consectetur facilis eaque nemo.</li>
  <li>Ipsam cupiditate quibusdam aspernatur eum, quaerat voluptate dolorum molestiae vero, quia, ipsa autem eveniet dolore iste nostrum! Ab, recusandae. Consectetur earum eum blanditiis nostrum tenetur esse necessitatibus quia reiciendis quidem?</li>
  <li>Eaque, quod exercitationem illo nulla optio soluta doloremque dolorem nesciunt accusantium quisquam placeat quaerat illum consequatur iusto, expedita neque debitis dignissimos id, magnam eligendi aliquam harum at suscipit non? Ratione?</li>
</ul>
</section>
