<div class="cn-c-card">
    <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
        <div class="flip-card-inner">
          <div class="flip-card-inner-front">
            <span>Book your next adventure</span>
          </div>
          <div class="flip-card-inner-back">
            <h3 class="flip-card-inner-back-title">Visit Yetiland</h3>
            <p class="flip-card-inner-back-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloremque accusantium, repellendus ex debitis molestias, recusandae dignissimos delectus.</p>
            <a href="#" class="button success">Book now</a>
          </div>
        </div>
      </div>
</div>
{{!--
<div class="cn-c-timeline">
  <div class="cn-c-timeline-container cn-c-timeline--left">
    <div class="cn-c-timeline-container--content">
      <h2>2017</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda accusantium non itaque inventore. Accusamus nihil omnis quos numquam fuga modi! Enim iure iste voluptates voluptatem ducimus laudantium officia blanditiis voluptate.</p>
    </div>
  </div>
  <div class="cn-c-timeline-container cn-c-timeline--right">
    <div class="cn-c-timeline-container--content">
      <h2>2018</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sapiente repellat non dolor sit quibusdam mollitia, et temporibus doloremque praesentium cumque reiciendis, optio ex a consectetur est tenetur quas ipsa!</p>
    </div>
  </div>
</div>
--}}
<section class="cn-c-timeline-2">
<div id=timeline>
	<h1>A Flexbox Timeline</h1>
	<p class="leader">All cards must be the same height and width for space calculations on large screens.</p>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>01</span>
				</div>
				<h2><span class="small">Subtitle</span> Technology</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>02</span>
				</div>
				<h2><span class="small">Subtitle</span> Confidence</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>03</span>
				</div>
				<h2><span class="small">Subtitle</span> Adaptation</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>04</span>
				</div>
				<h2><span class="small">Subtitle</span> Consistency</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>05</span>
				</div>
				<h2><span class="small">Subtitle</span> Conversion</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

	</div>
</div>
</section>

{{!--
<section class="cn-c-timeline-3">
  <div class="item">
    <div class="image">
      <div>
        <img src="http://placehold.it/400x400" />
        <span>
        09.12.2016
        </span>
      </div>
    </div>
    <div class="details">
      <div>
        <h1>Phasellus pharetra</h1>
        <p>Proin condimentum tempus ultrices. Suspendisse vestibulum suscipit erat, ac efficitur lorem. Nullam non ex vel turpis imperdiet maximus sit amet nec odio. Donec mauris nisl, vestibulum id efficitur at, convallis id dui. Sed enim nisl, ultrices vitae sodales eu, vestibulum a mi. Morbi consectetur pulvinar sagittis. Phasellus pharetra diam id leo gravida pharetra. In rutrum est gravida, maximus mi ac, mattis metus. Ut at tempus sem. Vivamus condimentum erat eget aliquet dignissim. </p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <div>
        <img src="http://placehold.it/400x400" />
        <span>
        08.12.2016
        </span>
      </div>
    </div>
    <div class="details">
      <div>
        <h1>Proin consectetur</h1>
        <p>Quisque vestibulum iaculis felis eget varius. Morbi bibendum lectus felis, sed vehicula purus pellentesque eu. Maecenas sit amet libero vel nunc porta tincidunt fringilla nec mauris. Phasellus pharetra pharetra massa. Ut maximus purus eget libero dapibus, sit amet ultricies eros auctor. Nulla tristique dui nec libero rhoncus, et dictum odio lobortis. Proin consectetur nec sapien hendrerit lobortis. Proin mi odio, mollis ac ullamcorper in, pellentesque non nulla. In pretium purus at posuere efficitur. Donec eget cursus quam, in mollis libero. Mauris tempor volutpat sodales. Nulla in odio nec metus elementum ultricies sit amet vel dolor. Nunc non ligula at libero eleifend consectetur nec eu felis. Sed tristique vel ante eu pulvinar. Pellentesque elementum congue iaculis. Integer lorem sapien, vestibulum sed semper sed, dictum nec purus. Aenean porttitor interdum iaculis. </p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <div>
        <img src="http://placehold.it/400x400" />
        <span>
        07.12.2016
        </span>
      </div>
    </div>
    <div class="details">
      <div>
        <h1>Duis porta urna</h1>
        <p>In nulla mi, ultrices et ullamcorper molestie, rhoncus at purus. Nulla et metus elementum, molestie lectus eget, pretium sapien. Duis dapibus libero id vehicula sodales. Curabitur augue tellus, lacinia ac turpis sit amet, facilisis finibus mauris. Mauris laoreet neque nisi, id hendrerit diam cursus ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis porta urna ligula, nec consequat libero congue quis. Nulla convallis enim sed dolor viverra, eget dapibus lorem ultricies. Nullam et neque vitae nulla faucibus sollicitudin eget sit amet justo.</p>
      </div>
    </div>
  </div>
</section>

<section class="cn-c-timeline-4">
  <header>
    <div class="container text-center">
      <h1>Vertical Timeline</h1>
      <p>Sava Lazic</p>
    </div>
  </header>

  <section class="timeline">
    <div class="container">
      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Title</h2>
          <div class="date">1 MAY 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
            <h2>Card Title</h2>
          </div>
          <div class="date">25 MAY 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>

      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <div class="date">3 JUN 2016</div>
          <h2>Quote</h2>
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInRight">
          <h2>Title</h2>
          <div class="date">22 JUN 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="timeline-img-header">
            <h2>Card Title</h2>
          </div>
          <div class="date">10 JULY 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
            <h2>Card Title</h2>
          </div>
          <div class="date">30 JULY 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <div class="date">5 AUG 2016</div>
          <h2>Quote</h2>
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
            <h2>Card Title</h2>
          </div>
          <div class="date">19 AUG 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <div class="date">1 SEP 2016</div>
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>



    </div>
  </section>

</section>

<section class="cn-c-timeline-5">

  <section class="intro">
    <div class="container">
      <h1>Vertical Timeline &darr;</h1>
    </div>
  </section>

  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>1934</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        </div>
      </li>
      <li>
        <div>
          <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
        </div>
      </li>
      <li>
        <div>
          <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
        </div>
      </li>
      <li>
        <div>
          <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
      <li>
        <div>
          <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
      <li>
        <div>
          <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
      <li>
        <div>
          <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
      <li>
        <div>
          <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
        </div>
      </li>
      <li>
        <div>
          <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
        </div>
      </li>
      <li>
        <div>
          <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
      <li>
        <div>
          <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
      <li>
        <div>
          <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
        </div>
      </li>
    </ul>
  </section>

</section>
--}}
