<div class="flip-card card {{#if right}}right{{else}}left{{/if}}" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front">
      <div class="company-logo">
        <img src="https://images.pexels.com/photos/179124/pexels-photo-179124.jpeg?w=940&h=650&auto=compress&cs=tinysrg" />
      </div>
      <h2>Company Title</h2>
      <h3>My Title</h3>
      <h3>{{right}}</h3>
    </div>
    <div class="flip-card-inner-back">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae voluptatum velit illum adipisci fugiat quo, accusantium esse repellendus. Nam ratione dolor ab veritatis sunt. Obcaecati asperiores commodi similique accusamus itaque?</p>
      <ul class="flip-card-inner-back-text">
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto consectetur eaque quae possimus facilis aperiam eligendi adipisci laboriosam saepe doloremque. Ab delectus accusantium vero deleniti doloremque obcaecati voluptas nam inventore?</li>
        <li>Aperiam doloremque asperiores dolorem modi impedit exercitationem dolor ea quas natus quaerat similique, maxime voluptate velit non optio doloribus ipsa fuga. Veniam a harum nostrum repudiandae natus fugit nesciunt mollitia?</li>
        <li>Natus mollitia voluptates laboriosam expedita, dolore voluptatem, nihil corporis, architecto error similique commodi tempora inventore eveniet explicabo omnis vel ab accusantium! Minus enim, ullam ea odio in quaerat quibusdam praesentium.</li>
      </ul>
    </div>
  </div>
</div>
