<div class="container">
    <div class="content">
      <div
      class="flip-card card"
      ontouchstart="this.classList.toggle('hover');">

      <div class="flip-card-inner">
          <div class="flip-card-inner-front grid-x grid-margin-x">
            <div class="large-3 cell company-logo">
                <img src="{{logo}}" alt="title"/>
            </div>
            <div class="large-9 cell front">
            <span>
                <h3>{{title}}</h3>
                <h2>{{company}}</h2>
            </span>
          </div>
          </div>
          <div class="flip-card-inner-back">
            <p class="flip-card-inner-back-text">{{description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
