<div class="cn-com-catenare-com-demo--inner">
      <div class="cn-com-catenare-com-demo--logo">
        <img src={{logo}} alt={{title}} />
      </div>
      <div class="cn-com-catenare-com-demo--detail">
        <div class="cn-com-catenare-com-demo--front">
        <p>{{description}}</p>
        </div>
        <div class="cn-com-catenare-com-demo--back">
          <ul>
            {{#each this.list}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        </div>
      <div class="cn-com-catenare-com-demo--info">
          <h1>{{company}}</h1>
          <h2>{{title}}</h2>
      </div>
    </div>
