<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Contacting johan-martin.com</title>
        <style type="text/css">
        @media only screen and (min-device-width: 601px) {
.content {width: 600px !important;}
}
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}
        </style>
    </head>
    <body yahoo bgcolor="#f6f8f1">
        <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <h1>Thank you for contacting us!</h1>
                                <p>We will respond to you soon. Other ways to contact us:
                                </p>
                                <ul style="list-style: none">
                                  <li>Email: <span style="font-style: italic; font-weight: bold">martin.johan@johan-martin.com</span></li>
                                  <li>Phone (US): <span style="font-style: italic; font-weight: bold;">+1-646-783-9811</span></li>
                                  <li>Phone (South Africa): <span style="font-style: italic; font-weight: bold;">+27-81-443-8234</span></li>
                                </ul>
                                <h2>Your Contact Details:</h2>
                                <ul style="list-style: none">
                                  <li>Name: <span style="font-style: italic; font-weight: bold;">{{data.name}}</span></li>
                                  <li>Email: <span style="font-style: italic; font-weight: bold;">{{data.email}}</span></li>
                                  <li>Phone: <span style="font-style: italic; font-weight: bold;">{{data.phone}}</span></li>
                                  <li><span style="font-style: italic; font-weight: bold;">{{data.message}}</span></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
