.cn-c-summary {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  h1 {
    text-align: center;
  }

  ul {
    list-style: none;
  }

  li {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
}
