.cn-c-summary {

  width: 50%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    text-align: center;
  }

  ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.25rem;

    span {
      display: inline-block;
      margin-right: 1em;
      // line-height: 10rem;
    }
  }
}
