
.cn-c-hero {
  background: url('https://res.cloudinary.com/paseo/image/upload/v1514746754/johan-martin/bali_countryside_iuuhtc.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: $hero-height;
  position: relative;
  width: 100%;

  &--content {
    position: relative;
    text-align: center;
    // top: -($hero-height * 0.8);
    top: $hero-height/2;

    h1 {
      color: $secondary-color;
      font-family: $font-family-highlight;
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      color: $primary-color;
      font-style: italic;
    }
  }

  &--video {
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
  }



}
