
.cn-com-catenare-com-demo {
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  width: 90%;

  h1 {
    text-align: center;
  }

  header,
  footer {
    text-align: center;
  }

  // middle line
  &::before {
    background-color: $light-gray;
    content: '';
    height: 100%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 0;
    width: 4px;
  }

  &::after {
    background-color: $light-gray;
    bottom: 0;
    content: ' ';
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &--logo {
     //background-color: rgba(#d6d6d6, 0.7);
    left: 50%;
    margin-left: -80px;
    position: absolute;
    top: 0;
    width: 10rem;
    text-align: center;
    z-index: 2;
  }

  &--inner {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      .cn-com-catenare-com-demo--detail {

      &:before {
      content: '';
      left: 41%;
      position: absolute;
      top: 16px;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-right: 20px solid $white;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent #Fff;
    }

      }
    }

    &:nth-child(odd) {
      .cn-com-catenare-com-demo--detail {
        &:before {
          content: '';
          left: 57%;
          position: absolute;
          top: 16px;
          height: 0;
          width: 23px;
          border: 7px solid transparent;
          border-left: 20px solid $white;
          border-width: 8px 20px 8px 0;
          border-color: transparent #Fff transparent transparent;
        }
      }

      .cn-com-catenare-com-demo--info {
        justify-content: flex-end;
        order: -1;
      }
    }
  }

  &--detail,
  &--info {
    padding: 20px;
    width: calc(50% - 100px);
  }

  &--detail {
    background-color: #fff;
    border: 1px solid #e8e8e8;
  }

  &--info {
    text-align: center;
  }

}
