
$hero-height: 80vh;

.cn-c-hero {
  height: $hero-height;
  position: relative;
  width: 100%;

  &--content {
    background-color: rgba($site-background, 0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    top: $hero-height/2.5;
    width: 50%;

    blockquote {
      border: 0;
      color: rgba(11, 58, 66, 1);
      font-size: 2.25rem;
      padding: 1rem;
      text-align: left;

      p::after {
        content: '\201D';
      }

      p::before {
        content: "\201C";
      }

      cite {
        font-size: 1.5rem;
        color: $dark-gray;
      }
    }


    h1 {
      color: $secondary-color;
      font-family: $font-family-highlight;
      font-size: 30rem;
      font-weight: bold;
    }

    @include breakpoint(medium down) {
      h1 {
        font-size: 10rem;
        line-height: 10rem;
        $hero-height: 20vh;
      }

      blockquote {
        display: none;
      }

      span {
        font-size: 2rem;
      }
    }

    p {
      color: $primary-color;
      font-family: $font-family-quote;
    }
  }

  .content {
    color: rgba(112, 112, 112, 1);
    width: 35%;

  }

  .menu {
    font-size: 2rem;
    padding-bottom: 1rem;

    a {
      font-size: 2rem;
      margin-right: 1rem;

      i {
        margin-right: 0.5rem;
      }
    }
  }
}
