$height: 50vh;

.cn-c-hero {

  height: $height;
  margin-left: 5%;
  margin-top: 10%;
  width: 45%;

  .cn-c-top-bar-scroll-nav-background {
    display: none;
  }

  &--content {
    background-color: rgba(243, 235, 228, 0.5);
    border-radius: 10px;
    display: block;
    font-family: $header-font-family;
    padding-bottom: 1em;
    transition-duration: 2s;

    h1,
    h2 {
      color: $primary-color;
      text-align: center;
    }

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 2em;
    }

    .menu {
      font-size: 1.25em;

      .button {
        margin-left: 1em;
      }
    }

    blockquote {
      border: none;
      font-family: $font-family-quote;
      font-size: 1.75em;
      font-weight: bold;
      margin-top: 1%;

      cite {
        font-size: 1em;
      }
    }

  }
}
