.site-footer {
  border-top: 0.5rem solid $secondary-color;
  background-color: $black;
  color: $white;


  .contact-details {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 4rem;

    .my-name {
      margin-top: 1rem;
    }

    .social-list {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      span {
        padding-bottom: 0.5rem;
        .fa {
          padding-right: 0.5rem;
        }
      }
    }

    .contact-me {
      margin-top: 1rem;
      input, textarea {
        width: 80%;
        height: 3rem;
      }
      textarea {
        height: 4rem;
      }
    }


    @include breakpoint(large up) {
      flex-direction: row;
      margin-left: 1rem;
      justify-content: space-around;

      .contact-me {
        input, textarea {
          width: 100%;
        }
      }

    }



  }

  // .contact-details {
  //   padding-top: 2rem;
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   // align-content: flex-start;
  //   // justify-content: space-evenly;
  //   img {
  //     max-width: 100%;
  //   }

  //   .my-name {
  //     text-align: center;
  //   }

  //   .social-list {
  //     display: flex;
  //     flex-direction: column;
  //     a {
  //       font-size: 1rem;
  //       color: $secondary-color;
  //       font-weight: bold;
  //       padding-bottom: 0.25rem;

  //       .fa {
  //         margin-right: 0.5rem;
  //       }
  //       &:hover, &:focus {
  //         color: $white;
  //         border-bottom: 1px solid $secondary-color;
  //       }
  //   }
  // }

  //   .contact-form-details {
  //     input, textarea {
  //       // width: 15vw;
  //     }
  //     margin-bottom: 1rem;
  //     button {
  //       color: $secondary-color;
  //       background-color: $primary-color;
  //       border-radius: 4px;
  //       padding: 0.5rem;
  //       font-weight: bolder;
  //     }
  //   }
  // }

  .bottom-menu {
    display: flex;
    background-color: $black;
    justify-content: center;
    list-style: none;
    border-top: 1px solid $secondary-color;
    li {
      margin-right: 1rem;
    }
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


}
