.site-footer {
  background-color: $black;
  color: $white;

  .contact-details {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      max-width: 100%;
    }

    .social-list {
      display: flex;
      flex-direction: column;
      a {
        font-size: 1rem;
        color: $secondary-color;
        font-weight: bold;

        .fa {
          margin-right: 0.25rem;
        }
        &:hover, &:focus {
          color: $white;
          border-bottom: 1px solid $secondary-color;
        }
    }
  }
  }

  .bottom-menu {
    display: flex;
    background-color: $black;
  }
}
