.jnm-header {

  .main-menu {
    padding: 0.45rem;
    background-color: $black;
    color: $primary-color;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 1.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .top-menu {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;

      button {
        color: $primary-color;
        outline: 0;
        padding: 0;
        padding-top: 0.25rem;
        font-size: 1.75rem;
        transform: translate(0, -20rem);
      }
    }

    .menu-list {
      display: flex;
      flex-direction: column;
    }

    a {
      color: $white;
      padding: 0.5rem;
      font-weight: bold;
      color: $white;
      border-bottom: 1px solid $light-gray;
    }

    a:hover {
      background-color: $secondary-color;
    }
  }

  .hide-menu {
    .menu-list {
      transform: translate(0, -20rem);
      height: 0;
    }

    .top-menu {
      button {
        transform: translate(0, 0);
      }
    }
  }
    .open-menu {
      .menu-list {
        transform: translate(0, 0);
        height: auto;
      }
    }

  .top-title-bar {
    display: none;
  }

  @include breakpoint(medium up) {
    .top-title-bar {
      // padding: 1.25rem;
      display: flex;
      background-color: $black;
      a {
        font-size: 1.25rem;
        padding: 0.5rem;
        color: $white;
        font-weight: bold;

        .fa {
          margin-right: 0.25rem;
        }
      }

      .other-sites {
        margin-left: auto;
      }
    }

    .main-menu {
      flex-direction: row;
      background-color: $white;
      align-items: baseline;

      a {
        color: $black;
        border-bottom: 0;
        font-size: 1.5rem;
        font-weight: 700;
      }

      .top-menu {
        button {
          transform: translate(0, -20rem);
        }
      }

      .menu-list {
        flex-direction: row;
        height: 0;
        transform: translate(0, 0);
      }
    }

  }
}

