.cn-c-top-bar {
  font-family: $font-family-header;
  position: fixed;
  top: 0;
  transition-duration: 2s;
  width: 100%;
  z-index: 1;


  h1,
  ul.menu li {
    font-family: $font-family-highlight;
    visibility: hidden;
  }

  &-scroll-nav-background {
    background-color: rgba($site-background, 0.7);
    box-shadow: 0 4px rgba(204, 185, 167, 0.4);
    transition-duration: 2s;

    h1 {
      font-size: 2em;
      margin: 0;
      visibility: visible;
      transition-duration: 3s;
    }

    ul.menu li {
      font-size: 1.25em;
      padding-right: 1em;
      visibility: visible;
      transition-duration: 3s;

    }
  }
}
