header {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  li.social-button.menu-text {
    color: $white;
    margin: 0 0.5em;
    &.facebook {
      background-color: #3b5998;
    }
    &.linkedin {
      background-color: #0077b5;
    }
    &>a {
      color: $white;
    }
  }
}
