.hero {
  background-attachment: fixed;
  background-image: url('https://res.cloudinary.com/paseo/image/upload/v1523886839/johan-martin/bali_countryside_iuuhtc.jpg');
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;

  h1 {
    color: $white;
    text-align: center;
  }
}
