$hero-height: 40vh;

.hero-section {
  align-items: center;
  background: url('https://placeimg.com/2400/800/tech') 50% no-repeat;
  background-color: $dark-gray;
  background-size: cover;
  display: flex;
  height: $hero-height;
  justify-content: center;
  text-align: center;

  div {
    color: $white;
    text-shadow: 1px 1px 2px $black;

    p {
      font-size: 1.5rem;
      margin: 0 20px;
    }

    a {
      background-color: $light-gray;
      border-radius: 10px;
      color: $white;
      font-size: 2em;
      font-weight: bolder;
      padding: 1.25rem;
    }
  }
}

