.jnm-header {
  &--top-bar {
    background-color: $white;
  }
  .menu a {
    color: $black;
    font-weight: bolder;
  }
  .menu-text {
    color: $primary-color;
  }
  &--hero {
    background-image: url("https://res.cloudinary.com/paseo/image/upload/v1523886839/johan-martin/bali_countryside_iuuhtc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-origin: padding-box;
    background-size: cover;
    height: 50vh;
  }
}
