.news {
  pre {
    background-color: #e6e6e6;
  }

  code {
    color: black;
  }

  .site-loader {
    text-align: center;
    height: 100%;
    max-width: 100%;
    font-size: 5rem;
    font-weight: 900;
    color: $secondary-color;
  }
  .article-post {
    color: $dark-gray;
    border-bottom: 2px solid $dark-gray;
    margin-bottom: 1rem;
    .post-image {
      text-align: center;
      img {
        // max-width: 80%;
        border-radius: 5px;
      }
    }
    .post-detail {
      h2 {
        margin-top: 0.75rem;
        color: $secondary-color;
        border-bottom: 1px solid $dark-gray;
      }
      h2::before {
        content: "\2668";
        padding-right: 0.25rem;
      }
      .post-description {
        color: $dark-gray;
      }
      footer {
        display: flex;

        flex-direction: column;

        .post-meta {
          display: flex;
          justify-content: space-between;
          font-weight: bolder;
          font-size: 0.9rem;
          padding-bottom: 0.5rem;
        }

        .post-link {
          background-color: $primary-color;
          text-align: center;
          border-radius: 4px;
          font-weight: bolder;
          padding: 0.25rem;
          margin-bottom: 0.5rem;
          font-size: 1.25rem;
        }
      }
    }
    &-feature {
      // background-color: green;
      border-bottom: 3px solid $primary-color;
      margin-bottom: 1.5rem;

      .post-detail {
        h2::before {
          content: "\2646";
        }
      }
      .post-image {
        width: 100%;
         max-width: 100%;
      }
    }
  }


  @include breakpoint(large up) {
    h2 {
      font-size: 1.75rem;
    }
    // display: flex;
    // flex-direction: column;

    .featured {
      margin-bottom: 1.25rem;

      .article-post-feature {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .post-image {
          flex: 1 0 40%;
        }
        .post-detail {
          margin-left: 1rem;
          align-items: stretch;
          flex: 1 1 auto;
          h2 {
            margin-top: 0;
          }
        }
      }
    }
    .articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .article-post {
        width: 30%;
        display: flex;
        flex-direction: column;
        min-height: 100%;


        .post-image {
          img {
            height: 15vw;
          }
        }
        .post-detail {
          flex: 2 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;


          .post-description {
            align-self: stretch;
          }

          .post-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 1 0 auto;
          }
        }




      }
    }
  }

  .post-view {
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    .link-back {
      width: 20rem;
      padding: 0.25rem;
      font-size: 2rem;
      font-weight: bolder;
      color: $primary-color;
    }
    h2 {
      font-size: 2.25rem;
      color: $secondary-color;
      border-bottom: 1px solid $dark-gray;
    }
    .post-view-image {
      text-align: center;
      img {
        border: 1px solid $secondary-color;
        padding: 0.25rem;
        border-radius: 5px;
        max-width: 100%;
        height: auto;
      }
    }
    footer {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $dark-gray;
    }
  }
}
