$body-color: $dark-gray;
$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-header: 'PT Sans Narrow','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-highlight: 'Annie Use Your Telescope', cursive;
$quote-color: $secondary-color;

body {
  background: url('https://res.cloudinary.com/paseo/image/upload/v1514746754/johan-martin/bali_countryside_iuuhtc.jpg') no-repeat center;
  background-attachment: fixed;
  background-color: rgba($site-background, 0.6);
  background-size: cover;
  color: $body-color;
  font-family: $body-font-family;
}

i {
  color: $secondary-color;
  padding-right: 0.25em;
}

cite {
  color: $quote-color;
  font-weight: 900;
}

a,
h1,
h2 {
  color: $primary-color;
}

h1,
h2 {
  font-family: $font-family-header;
}

h2 {
  color: $secondary-color;
}

.section-heading {
  background-color: rgba($site-background, 0.4);
  border-bottom: 5px solid $secondary-color;
  border-top: 1px solid $secondary-color;
  margin-top: 2em;
  text-align: center;
}

h1.section-heading {
  margin-bottom: 0;
}

.section-background {
  background-color: rgba($site-background, 0.8);
}
