
$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'PT Sans Narrow','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-highlight: 'Annie Use Your Telescope', cursive;

body {
  background-color: $site-background;
}
