main {
  margin-bottom: 25px;
  margin-top: 80px;
  min-height: 60vh;
  position: relative;
  // height: 100vh;
}

section,
footer>div,
header>nav {
  @include xy-grid-container(80%);
}

header {
  top: 0;
}


