$product-feature-section-large-width: 75%;
$product-feature-section-bg: $light-gray;
$product-feature-section-divider-color: $medium-gray;

.cn-skills {

  .product-feature-section {
    background: $product-feature-section-bg;
    padding: 1rem;
  }

  .product-feature-section-outer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;


    @include breakpoint(medium) {
      max-width: $product-feature-section-large-width;
    }
  }

  .product-feature-section-headline {
    margin-bottom: 2rem;
    text-align: center;
  }

  .product-feature-section-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-feature-section-feature {
    align-items: flex-start;
    border-bottom: 1px solid $product-feature-section-divider-color;
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;

    &:nth-child(odd) {
      border-right: 1px solid $product-feature-section-divider-color;
    }

    &:nth-last-child(1) {
      border-bottom: 0;
      border-right: 0;
    }

    .feature-title {
      line-height: 2rem;
      margin-bottom: 0.25rem;
    }

    .feature-desc {
      margin-bottom: 0;
    }

    .fa {
      font-size: 2rem;
      margin-right: 1.25rem;
    }

    .sub-skills {
      display: flex;

      li {
        width: 10rem;
      }
    }

    // ul {
    //   display: flex;
    //   // flex: no-wrap;
    // }

    @include breakpoint(medium) {
      flex: 1 0 50%;
      flex-direction: row;
      justify-content: flex-start;
      padding: 2rem;
    }
  }
}
