<div class="card news-card">
  <a href="#">
    <div class="background-card-image">
        <img src="http://placehold.it/640x427" alt="">
    </div>
    <div class="image-hover"></div>
  </a>
  <div class="card-section">
    <div class="news-card-tag"><a class="label" href="#">category</a></div>
    <div class="news-card-date">
        <span class="time">24 Nov 2017</span> &#8226;
        <span class="author">Author Name</span>
    </div>
    <article class="news-card-article">
      <h4 class="news-card-title">
        <a href="#">5 Features To Watch Out For in Angular v4</a>
      </h4>
      <p class="news-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae facere, ipsam quae sit, eaque perferendis commodi!...</p>
    </article>
    <div class="more">
        <a href="#">Read more</a>
      </div>
  </div>

</div>
