<div class="card">
  <a href="#" class="card-image">
    <div class="background-card-image">
        <img src="http://placehold.it/640x427" alt="">
    </div>
    <div class="image-hover"></div>
  </a>
  <div class="card-details">
    <div class="category">category</div>
    <h2 class="title"><a href="#">title</a></h2>
    <p class="meta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, repellendus?<span class="date">24 nov 2017</span> </p>
    <div class="excerpt"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum labore vel corrupti earum cum natus voluptatibus corporis harum libero perspiciatis possimus reiciendis, praesentium maxime asperiores consectetur? Quas error magnam quisquam.</p></div>
    <div class="tail"><a href="#">Read more</a></div>
  </div>
</div>
