{{!-->   section#carousel>ul>li*3>(h2>{item title}^p>{summary text}^figure>img[src="http://via.placeholder.com/1200x300" alt="slide image"]>figcaption>{slide caption}) --}}
<section id="carousel" class="carousel">
  <ul>
    <li>
      <h2>item title</h2>
      <p>summary text</p>
      <figure>
        <img src="http://via.placeholder.com/1200x300" alt="slide image">
          <figcaption>slide caption</figcaption>
      </figure>
    </li>
    <li>
      <h2>item title</h2>
      <p>summary text</p>
      <figure>
        <img src="http://via.placeholder.com/1200x300" alt="slide image">
          <figcaption>slide caption</figcaption>
      </figure>
    </li>
    <li>
      <h2>item title</h2>
      <p>summary text</p>
      <figure>
        <img src="http://via.placeholder.com/1200x300" alt="slide image">
          <figcaption>slide caption</figcaption>
      </figure>
    </li>
  </ul>
</section>
