{{!--> section#carousel>ul.carousel>li.slide.slide$*3>(div>h2>{item title $}^p>{summary text}^^figure>figcaption>{slide caption $}) --}}

<section class="carousel">
  <ul>
    <li class="slide slide1">
      <div>
        <h2>item title 1</h2>
        <p>summary text</p>
      </div>
      <figure>
        <figcaption>slide caption 1</figcaption>
      </figure>
    </li>
    <li class="slide slide2">
      <div>
        <h2>item title 2</h2>
        <p>summary text</p>
      </div>
      <figure>
        <figcaption>slide caption 2</figcaption>
      </figure>
    </li>
    <li class="slide slide3">
      <div>
        <h2>item title 3</h2>
        <p>summary text</p>
      </div>
      <figure>
        <figcaption>slide caption 3</figcaption>
      </figure>
    </li>
  </ul>
</section>
