<div class="featured">
  <a href="#" class="card-image">
    <div class="card-background"><img src="#" alt="background-image">{{>placeholder width="1024" height="682"}}</div>
    <div class="image-hover">
      <svg class="image-hover-icon"></svg>
    </div>
  </a>
  <div class="card-details">
    <div class="category-tag">category</div>
    <h2 class="title"><a href="#">title</a></h2>
    <p class="meta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad a delectus repellat voluptatibus nam, vero incidunt aperiam vel sequi, obcaecati iste officiis quae distinctio veniam nulla? Fuga eos eum impedit?<span class="date">24 nov 2017</span></p>
    <div class="excerpt">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quisquam aperiam illo quaerat unde iste, asperiores est, nesciunt adipisci dolor eligendi, similique animi minima omnis voluptatum! Quisquam fugiat omnis tempora.</p>
    </div>
    <div class="tail"><a href="#">Read more</a></div>
  </div>
</div>
