{{!-- section#projects>h1>{Projects}^div.card*3>img[src="http://via.placeholder.com/250x200" alt="card"]>div>h2>{card
  title}^p>lorem10 --}}
<section id="projects">
    <h1>Projects</h1>
    <div class="card">
      <img src="http://via.placeholder.com/250x200" alt="card">
      <div>
        <h2>card title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, blanditiis!</p>
      </div>
    </div>
    <div class="card">
      <img src="http://via.placeholder.com/250x200" alt="card">
      <div>
        <h2>card title</h2>
        <p>Consequatur voluptates repudiandae deserunt fuga. Magni, architecto labore. Ducimus, quisquam.</p>
      </div>
    </div>
    <div class="card">
      <img src="http://via.placeholder.com/250x200" alt="card">
      <div>
        <h2>card title</h2>
        <p>Libero, rerum fuga tempora distinctio sit praesentium labore animi odio!</p>
      </div>
    </div>
  </section>
